# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

#
#
# Add these snippets to your existing '.text.html.basic' snippets.
#
# You can find instructions for installing snippets here: https://atom.io/packages/snippets
#

'.text.html.basic':

  # ############################################################################
  # Layouts
  # Grid rows and columns
  # ############################################################################

  'Grid row':
    'leftLabel': 'GOV.UK'
    'description': 'Grid row – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-grid-row'
    'body': """
    <div class="grid-row">
      $1
    </div>$2
    """
  'Grid column':
    'leftLabel': 'GOV.UK'
    'description': 'Grid column – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-grid-column'
    'body': """
    {# Column size class suffixes: full, one-half, one-third, two-thirds, one-quarter #}
    <div class="column-${1:size}">
      $2
    </div>$3
    """
  'Grid column full':
    'leftLabel': 'GOV.UK'
    'description': 'Grid column full width – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-grid-column-full'
    'body': """
    <div class="column-full">
      $1
    </div>$2
    """
  'Grid column one-half':
    'leftLabel': 'GOV.UK'
    'description': 'Grid column one-half width – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-grid-column-one-half'
    'body': """
    <div class="column-one-half">
      $1
    </div>$2
    """
  'Grid column one-quarter':
    'leftLabel': 'GOV.UK'
    'description': 'Grid column one-quarter width – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-grid-column-one-quarter'
    'body': """
    <div class="column-one-quarter">
      $1
    </div>$2
    """
  'Grid column two-thirds':
    'leftLabel': 'GOV.UK'
    'description': 'Grid column two-thirds width – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-grid-column-two-thirds'
    'body': """
    <div class="column-two-thirds">
      $1
    </div>$2
    """
  'Grid column one-third':
    'leftLabel': 'GOV.UK'
    'description': 'Grid column one-third width – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-grid-column-one-third'
    'body': """
    <div class="column-one-third">
      $1
    </div>$2
    """
  'Layout two-thirds / one-third':
    'leftLabel': 'GOV.UK'
    'description': 'Layout two-thirds / one-third columns – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-layout-two-thirds-one-third'
    'body': """
    <div class="grid-row">
      <div class="column-two-thirds">
        $1
      </div>
      <div class="column-one-third">
        $2
      </div>
    </div>$3
    """
  'Layout one-third / two-thirds':
    'leftLabel': 'GOV.UK'
    'description': 'Layout one-third / two-thirds columns – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-layout-one-third-two-thirds'
    'body': """
    <div class="grid-row">
      <div class="column-one-third">
        $1
      </div>
      <div class="column-two-thirds">
        $2
      </div>
    </div>$3
    """

  # ############################################################################
  # Layouts
  # Sections and groups
  # ############################################################################

  'Form section':
    'leftLabel': 'GOV.UK'
    'description': 'Form section – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-section'
    'body': """
    <div class="form-section">
      $1
    </div>$2
    """
  'Form group':
    'leftLabel': 'GOV.UK'
    'description': 'Form group – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-group'
    'body': """
    <div class="form-group">
      $1
    </div>$2
    """
  'Form fieldset':
    'leftLabel': 'GOV.UK'
    'description': 'Form fieldset – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-fieldset'
    'body': """
    <fieldset>
      <legend>
        {# Heading size class suffixes: xlarge, large, medium, small #}
        <span class="heading-${1:medium}">
          ${2:Legend text}
        </span>
      </legend>
      $3
    </fieldset>$4
    """
  'Section break':
    'leftLabel': 'GOV.UK'
    'description': 'Section break – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-section-break'
    'body': """
    <hr class="section-break">$1
    """

  # ############################################################################
  # Typography
  # ############################################################################

  'Headings':
    'leftLabel': 'GOV.UK'
    'description': 'Headings – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-heading'
    'body': """
    {# Heading size class suffixes: xlarge, large, medium, small #}
    <h${1:1} class="heading-${2:xlarge}">
      ${3:Heading text}
    </h${1:1}>$4
    """
  'Captions':
    'leftLabel': 'GOV.UK'
    'description': 'Captions – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-caption'
    'body': """
    <span class="heading-secondary">
      ${1:Caption text}
    </span>$2
    """
  'Paragraph body':
    'leftLabel': 'GOV.UK'
    'description': 'Paragraph body – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-paragraph-body'
    'body': """
    <p>
      ${1:Paragraph text}
    </p>$2
    """
  'Paragraph body small':
    'leftLabel': 'GOV.UK'
    'description': 'Paragraph body small – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-paragraph-body-small'
    'body': """
    <p class="font-small">
      ${1:Paragraph text}
    </p>$2
    """
  'Lead paragraph':
    'leftLabel': 'GOV.UK'
    'description': 'Lead paragraph – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-paragraph-lead'
    'body': """
    <p class="lede">
      ${1:Paragraph text}
    </p>$2
    """
  'Font size override':
    'leftLabel': 'GOV.UK'
    'description': 'Font size override – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-font-size'
    'body': """
    <p class="${1:font-xsmall}">
      ${1:Paragraph text}
    </p>$3
    """
  'Font weight override':
    'leftLabel': 'GOV.UK'
    'description': 'Font weight override – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-font-weight'
    'body': """
    <p class="${1:bold}">
      ${2:Paragraph text}
    </p>$3
    """
  'Links':
    'leftLabel': 'GOV.UK'
    'description': 'Links – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-link'
    'body': """
    <a href="${1:#}">
      ${2:Link text}
    </a>$3
    """
  'Lists':
    'leftLabel': 'GOV.UK'
    'description': 'Lists – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-list'
    'body': """
    <ul class="list">
      <li>
        ${1:List item}
      </li>
      <li>
        ${2:List item}
      </li>
      <li>
        ${3:List item}
      </li>
    </ul>$4
    """
  'Bulleted lists':
    'leftLabel': 'GOV.UK'
    'description': 'Bulleted lists – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-list-bulleted'
    'body': """
    <ul class="list list-bullet">
      <li>
        ${1:List item}
      </li>
      <li>
        ${2:List item}
      </li>
      <li>
        ${3:List item}
      </li>
    </ul>$4
    """
  'Numbered lists':
    'leftLabel': 'GOV.UK'
    'description': 'Numbered lists – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-list-numbered'
    'body': """
    <ul class="list list-number">
      <li>
        ${1:List item}
      </li>
      <li>
        ${2:List item}
      </li>
      <li>
        ${3:List item}
      </li>
    </ul>$4
    """

  # ############################################################################
  # Components
  # Forms
  # ############################################################################

  'Button':
    'leftLabel': 'GOV.UK'
    'description': 'Button – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-button'
    'body': """
    <button type="submit" class="button button-primary">
      ${1:Button label text}
    </button>$2
    """
  'Checkboxes':
    'leftLabel': 'GOV.UK'
    'description': 'Checkboxes – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-checkboxes'
    'body': """
    <div class="form-group">
      <fieldset aria-describedby="$1-hint">
        <legend>
          <span class="form-label-bold">
            ${2:Legend text}
          </span>
          <span id="$1-hint" class="body-text">
            ${3:Hint text}
          </span>
        </legend>

        ${4:Use gov-form-checkbox-option snippet}

      </fieldset>
    </div>$5
    """
  'Checkbox option':
    'leftLabel': 'GOV.UK'
    'description': 'Checkbox option – GOV.UK Elements'
    'prefix': 'gov-form-checkbox-option'
    'body': """
    <div class="multiple-choice">
      <input id="${1:name}-1" name="${1:name}" type="checkbox" value="${2:value}">
      <label for="${1:name}-1">
        ${3:Label text}
      </label>
    </div>$4
    """
  'Radios':
    'leftLabel': 'GOV.UK'
    'description': 'Radios – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-radios'
    'body': """
    <div class="form-group">
      <!-- Optional class: inline -->
      <fieldset aria-describedby="$1-hint">
        <legend>
          <span class="form-label-bold">
            ${2:Legend text}
          </span>
          <span id="$1-hint" class="body-text">
            ${3:Hint text}
          </span>
        </legend>

        ${4:Use gov-form-radio-option snippet}

      </fieldset>
    </div>$5
    """
  'Radio option':
    'leftLabel': 'GOV.UK'
    'description': 'Radio option – GOV.UK Elements'
    'prefix': 'gov-form-radio-option'
    'body': """
    <div class="multiple-choice">
      <input id="${1:name}-1" name="${1:name}" type="radio" value="${2:value}">
      <label for="${1:name}-1">
        ${3:Label text}
      </label>
    </div>$4
    """
  'Select':
    'leftLabel': 'GOV.UK'
    'description': 'Select – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-select'
    'body': """
    <div class="form-group">
      <label class="form-label-bold" for="${1:name}">
        ${2:Label text}
      </label>
      <select class="form-control" id="${1:name}" name="${1:name}">
        ${3:Use gov-form-select-option snippet}
      </select>
    </div>$4
    """
  'Select option':
    'leftLabel': 'GOV.UK'
    'description': 'Select option – GOV.UK Elements'
    'prefix': 'gov-form-select-option'
    'body': """
    <option value="${1:value}">${2:label text}</option>$3
    """
  'Text input':
    'leftLabel': 'GOV.UK'
    'description': 'Text input – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-input'
    'body': """
    <div class="form-group">
      <label class="form-label-bold" for="${1:name}">
        ${2:Label text}
      </label>
      <span id="${1:name}-hint" class="form-hint">
        ${3:Hint text}
      </span>
      <input class="form-control" id="${1:name}" name="${1:name}" type="text" aria-describedby="${1:name}-hint">
    </div>$4
    """
  'Textarea':
    'leftLabel': 'GOV.UK'
    'description': 'Textarea – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-textarea'
    'body': """
    <div class="form-group">
      <label class="form-label-bold" for="${1:name}">
        ${2:Label text}
      </label>
      <span id="${1:name}-hint" class="form-hint">
        ${3:Hint text}
      </span>
      <textarea class="form-control" id="${1:name}" name="${1:name}" rows="5" aria-describedby="${1:name}-hint"></textarea>
    </div>$4
    """

  # ############################################################################
  # Components
  # Form patterns
  # ############################################################################

  'Address':
    'leftLabel': 'GOV.UK'
    'description': 'Addresses – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-address'
    'body': """
    <fieldset>
      <legend>
        <span class="form-label-bold">
          What is your address?
        </span>
      </legend>
      <div class="form-group">
        <label class="form-label" for="address-line-1">
          Building and street <span class="visually-hidden">line 1 of 2</span>
        </label>
        <input class="form-control" id="address-line-1" name="address-line-1" type="text">
      </div>
      <div class="form-group">
        <label class="form-label" for="address-line-2">
          <span class="visually-hidden">Building and street line 2 of 2</span>
        </label>
        <input class="form-control" id="address-line-2" name="address-line-2" type="text">
      </div>
      <div class="form-group">
        <label class="form-label" for="address-town">
          Town or city
        </label>
        <input class="form-control form-control-2-3" id="address-town" name="address-town" type="text">
      </div>
      <div class="form-group">
        <label class="form-label" for="address-county">
          County
        </label>
        <input class="form-control form-control-2-3" id="address-county" name="address-county" type="text">
      </div>
      <div class="form-group">
        <label class="form-label" for="address-postcode">
          Postcode
        </label>
        <input class="form-control form-control-1-4" id="address-postcode" name="address-postcode" type="text">
      </div>
    </fieldset>$1
    """
  'Date input':
    'leftLabel': 'GOV.UK'
    'description': 'Date input – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/form-elements/example-date/'
    'prefix': 'gov-form-date'
    'body': """
    <div class="form-group">
      <fieldset aria-describedby="${1:name}-hint" role="group">
        <legend>
          <span class="form-label-bold">
            ${2:Date}
          </span>
          <span id="${1:name}-hint" class="form-hint">
            ${3:For example, 31 3 1980}
          </span>
        </legend>
        <div class="form-date" id="${1:name}">
          <div class="form-group form-group-day">
            <label class="form-label" for="${1:name}-day">
              Day
            </label>
            <input class="form-control" id="${1:name}-day" name="${1:name}-day" type="number" pattern="[0-9]*" min="1" max="31">
          </div>
          <div class="form-group form-group-month">
            <label class="form-label" for="${1:name}-month">
              Month
            </label>
            <input class="form-control" id="${1:name}-month" name="${1:name}-month" type="number" pattern="[0-9]*" min="1" max="12">
          </div>
          <div class="form-group form-group-year">
            <label class="form-label" for="${1:name}-year">
              Year
            </label>
            <input class="form-control" id="${1:name}-year" name="${1:name}-year" type="number" pattern="[0-9]*" min="1900">
          </div>
        </div>
      </fieldset>
    </div>$4
    """
  'File upload':
    'leftLabel': 'GOV.UK'
    'description': 'File upload – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-file'
    'body': """
    <div class="form-group">
      <label class="form-label" for="${1:file-upload}-1">
        ${2:Upload a file}
      </label>
      <input class="form-control file-upload" id="${1:file-upload}-1" name="${1:file-upload}-1" type="file">
    </div>$3
    """
  'National Insurance number (NINO)':
    'leftLabel': 'GOV.UK'
    'description': 'National Insurance number (NINO) – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-nino'
    'body': """
    <div class="form-group">
      <label class="form-label-bold" for="national-insurance-number">
        National insurance number
      </label>
      <span id="national-insurance-number-hint" class="form-hint">
        It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.
      </span>
      <input class="form-control" id="national-insurance-number" name="national-insurance-number" type="text" aria-describedby="national-insurance-number-hint">
    </div>$1
    """

  # ############################################################################
  # Components
  # Other
  # ############################################################################

  'Back link':
    'leftLabel': 'GOV.UK'
    'description': 'Back link – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-back-link'
    'body': """
    <a href="${1:#}" class="back-link">Back</a>$2
    """
  'Breadcrumbs':
    'leftLabel': 'GOV.UK'
    'description': 'Breadcrumbs – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-breadcrumbs'
    'body': """
    <ol id="breadcrumb-links">
      <li><a href="#">${1:Link text}</a></li>
      <li><a href="#">${2:Link text}</a></li>
      <li><a href="#">${3:Link text}</a></li>
      <li><a href="#">${4:Link text}</a></li>
    </ol>$5
    """
  'Details':
    'leftLabel': 'GOV.UK'
    'description': 'Details (hidden text / progressive disclosure) – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-details'
    'body': """
    <details>
      <summary>
        <span class="summary">
          ${1:Summary text}
        </span>
      </summary>
      <div class="panel panel-border-narrow">
        <p>
          ${2:Text}
        </p>
      </div>
    </details>$3
    """
  'Error summary':
    'leftLabel': 'GOV.UK'
    'description': 'Error summary – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/errors/'
    'prefix': 'gov-error-summary'
    'body': """
    <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
      <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
        ${1:There is a problem}
      </h2>
      <p>
        ${2:Optional description of the errors and how to correct them}
      </p>
      <ul class="error-summary-list">
        <li>
          <a href="#item-1-error">
            ${3:Error item}
          </a>
        </li>
        <li>
          <a href="#item-2-error">
            ${4:Error item}
          </a>
        </li>$5
      </ul>
    </div>$6
    """
  'Footer':
    'leftLabel': 'GOV.UK'
    'description': 'Footer – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-footer'
    'body': """
    <footer class="group js-footer" id="footer" role="contentinfo">
      <div class="footer-wrapper">
        <div class="footer-meta">
          <div class="footer-meta-inner">
            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>
          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>
    """
  'Header':
    'leftLabel': 'GOV.UK'
    'description': 'Header – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-header'
    'body': """
    <div class="header-wrapper">
      <div class="header-global">
        <div class="header-logo">
          <a href="${1:#}" title="${2:Title text}" id="logo" class="content">
            <img src="/public/images/gov.uk_logotype_crown_invert_trans.png?0.23.0" width="36" height="32" alt="">
            ${3:GOV.UK}
          </a>
        </div>
      </div>
      <div class="header-proposition">
        <div class="content">
          <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
          <nav id="proposition-menu">
            <a href="/" id="proposition-name">${4:Service name}</a>
            <ul id="proposition-links">
              <li><a href="#">Link text</a></li>
              <li><a href="#">Link text</a></li>
              <li><a href="#">Link text</a></li>
              <li><a href="#">Link text</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div id="global-header-bar"></div>$5
    """
  'Inset text':
    'leftLabel': 'GOV.UK'
    'description': 'Inset text – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/#typography-inset-text'
    'prefix': 'gov-inset-text'
    'body': """
    <div class="panel panel-border-wide">
      <p>
        ${1:Inset text}
      </p>
    </div>$2
    """
  'Panel':
    'leftLabel': 'GOV.UK'
    'description': 'Panel – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-panel'
    'body': """
    <div class="confirmation">
			<h2 class="heading-large">
				${1:Title text}
			</h2>
			<p>
        Your reference number<br><strong>${2:Reference}</strong>
      </p>
		</div>$3
    """
  'Phase banner':
    'leftLabel': 'GOV.UK'
    'description': 'Phase banner – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/alpha-beta-banners/#alpha-banner'
    'prefix': 'gov-phase-banner'
    'body': """
    <div class="phase-banner">
      <p>
        <strong class="phase-tag">${1:ALPHA|BETA}</strong>
        <span>${2:This is a new service – your <a href="#">feedback</a> will help us to improve it.}</span>
      </p>
    </div>$3
    """
  'Skip link':
    'leftLabel': 'GOV.UK'
    'description': 'Skip link – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-skip-link'
    'body': """
    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>
    """
  'Table':
    'leftLabel': 'GOV.UK'
    'description': 'Table – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/data/'
    'prefix': 'gov-table'
    'body': """
    <table>
      <caption class="heading-small">
        ${1:Caption text}
      </caption>
      <thead>
        <tr>
          <!-- Add class="numeric" if a numeric column -->
          <th scope="col">${2:Column 1 heading}</th>
          <th scope="col">${3:Column 2 heading}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- First column as header. Change to normal cell if required -->
          <th scope="row">${4:Column 1, row 1}</th>
          <!-- Add class="numeric" if a numeric cell -->
          <td>${5:Column 2, row 1}</td>
        </tr>
        <tr>
          <th scope="row">${6:Column 1, row 2}</th>
          <td>${7:Column 2, row 2}</td>
        </tr>
        <tr>
          <th scope="row">${8:Column 1, row 3}</th>
          <td>${9:Column 2, row 3}</td>
        </tr>$10
      </tbody>
    </table>$11
    """
  'Tabs':
    'leftLabel': 'GOV.UK'
    'description': 'Tabs – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-tabs'
    'body': """
    <div class="tabs" data-module="tabs">
			<div class="tabs-nav">
				<ul class="tabs-list">
					${1:Use gov-tab-item snippet}
				</ul>
			</div>
			${2:Use gov-tab-section snippet}
		</div>$3
    """
  'Tab item':
    'leftLabel': 'GOV.UK'
    'description': 'Tab item – GOV.UK Elements'
    'prefix': 'gov-tab-item'
    'body': """
    <li>
      <a href="#${1:section-name}">
          ${2:Tab label}
        </a>
    </li>$3
    """
  'Tab section':
    'leftLabel': 'GOV.UK'
    'description': 'Tabs – GOV.UK Elements'
    'prefix': 'gov-tab-section'
    'body': """
    <div class="tabs-panel" id="${1:section-name}">
      <div class="tabs-panel-inner text">
        <h2 class="heading-large">
          ${2:Section heading}
        </h2>
        ${3:Section contents}
      </div>
    </div>$4
    """
  'Tag':
    'leftLabel': 'GOV.UK'
    'description': 'Phase tags – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/alpha-beta-banners/#phase-tags'
    'prefix': 'gov-tag'
    'body': """
    <strong class="phase-tag">${1:ALPHA|BETA}</strong>$2
    """
  'Warning text':
    'leftLabel': 'GOV.UK'
    'description': 'Warning text – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/#typography-warning-text'
    'prefix': 'gov-warning-text'
    'body': """
    <div class="notice">
      <i class="icon icon-important">
        <span class="visually-hidden">${1:Fallback text}</span>
      </i>
      <strong class="bold-small">
        ${2:Warning text}
      </strong>
    </div>$3
    """
