# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

#
#
# Add these snippets to your existing '.text.html.basic' snippets.
#
# You can find instructions for installing snippets here: https://atom.io/packages/snippets
#

'.text.html.basic, .text.html.nunjucks':

  # ############################################################################
  # Layouts
  # Grid rows and columns
  # ############################################################################

  'Grid row':
    'leftLabel': 'GOV.UK'
    'description': 'Grid row – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-grid-row'
    'body': """
    <div class="grid-row">
      $1
    </div>$2
    """
  'Grid column':
    'leftLabel': 'GOV.UK'
    'description': 'Grid column – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-grid-column'
    'body': """
    {# Column size class suffixes: full, one-half, one-third, two-thirds, one-quarter #}
    <div class="column-${1:size}">
      $2
    </div>$3
    """
  'Grid column full':
    'leftLabel': 'GOV.UK'
    'description': 'Grid column full width – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-grid-column-full'
    'body': """
    <div class="column-full">
      $1
    </div>$2
    """
  'Grid column one-half':
    'leftLabel': 'GOV.UK'
    'description': 'Grid column one-half width – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-grid-column-one-half'
    'body': """
    <div class="column-one-half">
      $1
    </div>$2
    """
  'Grid column one-quarter':
    'leftLabel': 'GOV.UK'
    'description': 'Grid column one-quarter width – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-grid-column-one-quarter'
    'body': """
    <div class="column-one-quarter">
      $1
    </div>$2
    """
  'Grid column two-thirds':
    'leftLabel': 'GOV.UK'
    'description': 'Grid column two-thirds width – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-grid-column-two-thirds'
    'body': """
    <div class="column-two-thirds">
      $1
    </div>$2
    """
  'Grid column one-third':
    'leftLabel': 'GOV.UK'
    'description': 'Grid column one-third width – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-grid-column-one-third'
    'body': """
    <div class="column-one-third">
      $1
    </div>$2
    """
  'Layout two-thirds / one-third':
    'leftLabel': 'GOV.UK'
    'description': 'Layout two-thirds / one-third columns – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-layout-two-thirds-one-third'
    'body': """
    <div class="grid-row">
      <div class="column-two-thirds">
        $1
      </div>
      <div class="column-one-third">
        $2
      </div>
    </div>$3
    """
  'Layout one-third / two-thirds':
    'leftLabel': 'GOV.UK'
    'description': 'Layout one-third / two-thirds columns – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-layout-one-third-two-thirds'
    'body': """
    <div class="grid-row">
      <div class="column-one-third">
        $1
      </div>
      <div class="column-two-thirds">
        $2
      </div>
    </div>$3
    """

  # ############################################################################
  # Layouts
  # Sections and groups
  # ############################################################################

  'Form section':
    'leftLabel': 'GOV.UK'
    'description': 'Form section – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-section'
    'body': """
    <div class="form-section">
      $1
    </div>$2
    """
  'Form group':
    'leftLabel': 'GOV.UK'
    'description': 'Form group – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-group'
    'body': """
    <div class="form-group">
      $1
    </div>$2
    """
  'Form fieldset':
    'leftLabel': 'GOV.UK'
    'description': 'Form fieldset – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-fieldset'
    'body': """
    <fieldset>
      <legend>
        {# Heading size class suffixes: xlarge, large, medium, small #}
        <span class="heading-${1:medium}">
          ${2:Legend text}
        </span>
      </legend>
      $3
    </fieldset>$4
    """
  'Section break':
    'leftLabel': 'GOV.UK'
    'description': 'Section break – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-section-break'
    'body': """
    <hr class="section-break">$1
    """

  # ############################################################################
  # Typography
  # ############################################################################

  'Headings':
    'leftLabel': 'GOV.UK'
    'description': 'Headings – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-heading'
    'body': """
    {# Heading size class suffixes: xlarge, large, medium, small #}
    <h${1:1} class="heading-${2:xlarge}">
      ${3:Heading text}
    </h${1:1}>$4
    """
  'Captions':
    'leftLabel': 'GOV.UK'
    'description': 'Captions – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-caption'
    'body': """
    <span class="heading-secondary">
      ${1:Caption text}
    </span>$2
    """
  'Paragraph body':
    'leftLabel': 'GOV.UK'
    'description': 'Paragraph body – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-paragraph-body'
    'body': """
    <p>
      ${1:Paragraph text}
    </p>$2
    """
  'Paragraph body small':
    'leftLabel': 'GOV.UK'
    'description': 'Paragraph body small – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-paragraph-body-small'
    'body': """
    <p class="font-small">
      ${1:Paragraph text}
    </p>$2
    """
  'Lead paragraph':
    'leftLabel': 'GOV.UK'
    'description': 'Lead paragraph – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-paragraph-lead'
    'body': """
    <p class="lede">
      ${1:Paragraph text}
    </p>$2
    """
  'Font size override':
    'leftLabel': 'GOV.UK'
    'description': 'Font size override – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-font-size'
    'body': """
    <p class="${1:font-xsmall}">
      ${1:Paragraph text}
    </p>$3
    """
  'Font weight override':
    'leftLabel': 'GOV.UK'
    'description': 'Font weight override – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-font-weight'
    'body': """
    <p class="${1:bold}">
      ${2:Paragraph text}
    </p>$3
    """
  'Links':
    'leftLabel': 'GOV.UK'
    'description': 'Links – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-link'
    'body': """
    <a href="${1:#}">
      ${2:Link text}
    </a>$3
    """
  'Lists':
    'leftLabel': 'GOV.UK'
    'description': 'Lists – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-list'
    'body': """
    <ul class="list">
      <li>
        ${1:List item}
      </li>
      <li>
        ${2:List item}
      </li>
      <li>
        ${3:List item}
      </li>
    </ul>$4
    """
  'Bulleted lists':
    'leftLabel': 'GOV.UK'
    'description': 'Bulleted lists – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-list-bulleted'
    'body': """
    <ul class="list list-bullet">
      <li>
        ${1:List item}
      </li>
      <li>
        ${2:List item}
      </li>
      <li>
        ${3:List item}
      </li>
    </ul>$4
    """
  'Numbered lists':
    'leftLabel': 'GOV.UK'
    'description': 'Numbered lists – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-list-numbered'
    'body': """
    <ul class="list list-number">
      <li>
        ${1:List item}
      </li>
      <li>
        ${2:List item}
      </li>
      <li>
        ${3:List item}
      </li>
    </ul>$4
    """

  # ############################################################################
  # Components
  # Forms
  # ############################################################################

  'Button':
    'leftLabel': 'GOV.UK'
    'description': 'Button – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-button'
    'body': """
    <button type="submit" class="button button-primary">
      ${1:Button label text}
    </button>$2
    """
  'Checkboxes':
    'leftLabel': 'GOV.UK'
    'description': 'Checkboxes – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-checkboxes'
    'body': """
    <div class="form-group">
      <fieldset aria-describedby="$1-hint">
        <legend>
          <span class="form-label-bold">
            ${2:Legend text}
          </span>
          <span id="$1-hint" class="body-text">
            ${3:Hint text}
          </span>
        </legend>

        ${4:Use gov-form-checkbox-option snippet}

      </fieldset>
    </div>$5
    """
  'Checkbox option':
    'leftLabel': 'GOV.UK'
    'description': 'Checkbox option – GOV.UK Elements'
    'prefix': 'gov-form-checkbox-option'
    'body': """
    <div class="multiple-choice">
      <input id="${1:name}-1" name="${1:name}" type="checkbox" value="${2:value}">
      <label for="${1:name}-1">
        ${3:Label text}
      </label>
    </div>$4
    """
  'Radios':
    'leftLabel': 'GOV.UK'
    'description': 'Radios – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-radios'
    'body': """
    <div class="form-group">
      <!-- Optional class: inline -->
      <fieldset aria-describedby="$1-hint">
        <legend>
          <span class="form-label-bold">
            ${2:Legend text}
          </span>
          <span id="$1-hint" class="body-text">
            ${3:Hint text}
          </span>
        </legend>

        ${4:Use gov-form-radio-option snippet}

      </fieldset>
    </div>$5
    """
  'Radio option':
    'leftLabel': 'GOV.UK'
    'description': 'Radio option – GOV.UK Elements'
    'prefix': 'gov-form-radio-option'
    'body': """
    <div class="multiple-choice">
      <input id="${1:name}-1" name="${1:name}" type="radio" value="${2:value}">
      <label for="${1:name}-1">
        ${3:Label text}
      </label>
    </div>$4
    """
  'Select':
    'leftLabel': 'GOV.UK'
    'description': 'Select – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-select'
    'body': """
    <div class="form-group">
      <label class="form-label-bold" for="${1:name}">
        ${2:Label text}
      </label>
      <select class="form-control" id="${1:name}" name="${1:name}">
        ${3:Use gov-form-select-option snippet}
      </select>
    </div>$4
    """
  'Select option':
    'leftLabel': 'GOV.UK'
    'description': 'Select option – GOV.UK Elements'
    'prefix': 'gov-form-select-option'
    'body': """
    <option value="${1:value}">${2:label text}</option>$3
    """
  'Text input':
    'leftLabel': 'GOV.UK'
    'description': 'Text input – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-input'
    'body': """
    <div class="govuk-form-group">
      <label class="form-label-bold" for="${1:name}">
        ${2:Label text}
      </label>
      <span id="${1:name}-hint" class="form-hint">
        ${3:Hint text}
      </span>
      <input class="form-control" id="${1:name}" name="${1:name}" type="text" aria-describedby="${1:name}-hint">
    </div>$4
    """
  'Textarea':
    'leftLabel': 'GOV.UK'
    'description': 'Textarea – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-textarea'
    'body': """
    <div class="form-group">
      <label class="form-label-bold" for="${1:name}">
        ${2:Label text}
      </label>
      <span id="${1:name}-hint" class="form-hint">
        ${3:Hint text}
      </span>
      <textarea class="form-control" id="${1:name}" name="${1:name}" rows="5" aria-describedby="${1:name}-hint"></textarea>
    </div>
    """

  # ############################################################################
  # Components
  # Form patterns
  # ############################################################################

  'Address':
    'leftLabel': 'GOV.UK'
    'description': 'Addresses – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-address'
    'body': """
    <fieldset>
      <legend>
        <span class="form-label-bold">
          What is your address?
        </span>
      </legend>
      <div class="form-group">
        <label class="form-label" for="address-line-1">
          Building and street <span class="visually-hidden">line 1 of 2</span>
        </label>
        <input class="form-control" id="address-line-1" name="address-line-1" type="text">
      </div>
      <div class="form-group">
        <label class="form-label" for="address-line-2">
          <span class="visually-hidden">Building and street line 2 of 2</span>
        </label>
        <input class="form-control" id="address-line-2" name="address-line-2" type="text">
      </div>
      <div class="form-group">
        <label class="form-label" for="address-town">
          Town or city
        </label>
        <input class="form-control form-control-2-3" id="address-town" name="address-town" type="text">
      </div>
      <div class="form-group">
        <label class="form-label" for="address-county">
          County
        </label>
        <input class="form-control form-control-2-3" id="address-county" name="address-county" type="text">
      </div>
      <div class="form-group">
        <label class="form-label" for="address-postcode">
          Postcode
        </label>
        <input class="form-control form-control-1-4" id="address-postcode" name="address-postcode" type="text">
      </div>
    </fieldset>$1
    """
  'Date input':
    'leftLabel': 'GOV.UK'
    'description': 'Date input – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/form-elements/example-date/'
    'prefix': 'gov-form-date'
    'body': """
    <div class="form-group">
      <fieldset aria-describedby="${1:name}-hint" role="group">
        <legend>
          <span class="form-label-bold">
            ${2:Date}
          </span>
          <span id="${1:name}-hint" class="form-hint">
            ${3:For example, 31 3 1980}
          </span>
        </legend>
        <div class="form-date" id="${1:name}">
          <div class="form-group form-group-day">
            <label class="form-label" for="${1:name}-day">
              Day
            </label>
            <input class="form-control" id="${1:name}-day" name="${1:name}-day" type="number" pattern="[0-9]*" min="1" max="31">
          </div>
          <div class="form-group-month">
            <label class="form-label" for="${1:name}-month">
              Month
            </label>
            <input class="form-control" id="${1:name}-month" name="${1:name}-month" type="number" pattern="[0-9]*" min="1" max="12">
          </div>
          <div class="form-group-year">
            <label class="form-label" for="${1:name}-year">
              Year
            </label>
            <input class="form-control" id="${1:name}-year" name="${1:name}-year" type="number" pattern="[0-9]*" min="1900">
          </div>
        </div>
      </fieldset>
    </div>$4
    """
  'File upload':
    'leftLabel': 'GOV.UK'
    'description': 'File upload – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-file'
    'body': """
    <div class="form-group">
      <label class="form-label" for="${1:file-upload}-1">
        ${2:Upload a file}
      </label>
      <input class="form-control file-upload" id="${1:file-upload}-1" name="${1:file-upload}-1" type="file">
    </div>$3
    """
  'National Insurance number (NINO)':
    'leftLabel': 'GOV.UK'
    'description': 'National Insurance number (NINO) – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-form-nino'
    'body': """
    <div class="form-group">
      <label class="form-label-bold" for="national-insurance-number">
        National insurance number
      </label>
      <span id="national-insurance-number-hint" class="form-hint">
        It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.
      </span>
      <input class="form-control" id="national-insurance-number" name="national-insurance-number" type="text" aria-describedby="national-insurance-number-hint">
    </div>$1
    """

  # ############################################################################
  # Components
  # Other
  # ############################################################################

  'Back link':
    'leftLabel': 'GOV.UK'
    'description': 'Back link – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-back-link'
    'body': """

    """
  'Breadcrumbs':
    'leftLabel': 'GOV.UK'
    'description': 'Breadcrumbs – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-breadcrumbs'
    'body': """

    """
  'Details':
    'leftLabel': 'GOV.UK'
    'description': 'Details – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-details'
    'body': """

    """
  'Error summary':
    'leftLabel': 'GOV.UK'
    'description': 'Error summary – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-error-summary'
    'body': """

    """
  'Footer':
    'leftLabel': 'GOV.UK'
    'description': 'Footer – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-footer'
    'body': """

    """
  'Header':
    'leftLabel': 'GOV.UK'
    'description': 'Header – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-header'
    'body': """

    """
  'Inset text':
    'leftLabel': 'GOV.UK'
    'description': 'Inset text – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-inset-text'
    'body': """

    """
  'Link item':
    'leftLabel': 'GOV.UK'
    'description': 'Link item – GOV.UK Elements'
    'prefix': 'gov-link-item'
    'body': """

    """
  'Panel':
    'leftLabel': 'GOV.UK'
    'description': 'Panel – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-panel'
    'body': """

    """
  'Phase banner':
    'leftLabel': 'GOV.UK'
    'description': 'Phase banner – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-phase-banner'
    'body': """

    """
  'Skip link':
    'leftLabel': 'GOV.UK'
    'description': 'Skip link – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-skip-link'
    'body': """

    """
  'Table':
    'leftLabel': 'GOV.UK'
    'description': 'Table – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-table'
    'body': """

    """
  'Tab':
    'leftLabel': 'GOV.UK'
    'description': 'Tabs – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-tab'
    'body': """

    """
  'Tag':
    'leftLabel': 'GOV.UK'
    'description': 'Tags – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-tag'
    'body': """

    """
  'Warning text':
    'leftLabel': 'GOV.UK'
    'description': 'Warning text – GOV.UK Elements'
    'descriptionMoreURL': 'https://govuk-elements.herokuapp.com/'
    'prefix': 'gov-warning-text'
    'body': """

    """
