'.text.html.basic':
  # layouts
  'Grid row':
    'leftLabel': 'GOV.UK'
    'description': ''
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-layout-grid-row'
    'body': """
    <div class="grid-row">
      $1
    </div>$2
    """
  'Column':
    'leftLabel': 'GOV.UK'
    'description': 'Column layout'
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-layout-column'
    'body': """
    {# Column size class suffixes: full, one-half, one-third, two-thirds, one-quarter #}
    <div class="column-${1:size}">
      $2
    </div>$3
    """
  'Column full':
    'leftLabel': 'GOV.UK'
    'description': 'Column full-width layout'
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-layout-column-full'
    'body': """
    <div class="column-full">
      $1
    </div>$2
    """
  'Column one-half':
    'leftLabel': 'GOV.UK'
    'description': 'Column one-half layout'
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-layout-column-one-half'
    'body': """
    <div class="column-one-half">
      $1
    </div>$2
    """
  'Column one-quarter':
    'leftLabel': 'GOV.UK'
    'description': 'Column one-quarter layout'
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-layout-column-one-quarter'
    'body': """
    <div class="column-one-quarter">
      $1
    </div>$2
    """
  'Column two-thirds':
    'leftLabel': 'GOV.UK'
    'description': 'Column two-thirds layout'
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-layout-column-two-thirds'
    'body': """
    <div class="column-two-thirds">
      $1
    </div>$2
    """
  'Column one-third':
    'leftLabel': 'GOV.UK'
    'description': 'Column one-third layout'
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/layout/'
    'prefix': 'gov-layout-column-one-third'
    'body': """
    <div class="column-one-third">
      $1
    </div>$2
    """
  # 'Column two-thirds/one-third':
  #   'leftLabel': 'GOV.UK'
  #   'description': 'Column two-thirds/one-third layout'
  #   'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/layout/'
  #   'prefix': 'gov-layout-column-two-thirds-one-third'
  #   'body': """
  #   <div class="column-two-thirds">
  #     $1
  #   </div>
  #   <div class="column-one-third">
  #     $2
  #   </div>$3
  #   """
  # 'Column one-third/two-thirds':
  #   'leftLabel': 'GOV.UK'
  #   'description': 'Column two-thirds/one-third layout'
  #   'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/layout/'
  #   'prefix': 'gov-layout-column-one-third-two-thirds'
  #   'body': """
  #   <div class="column-one-third">
  #     $1
  #   </div>
  #   <div class="column-two-thirds">
  #     $2
  #   </div>$3
  #   """
  # typography
  'Heading 1':
    'leftLabel': 'GOV.UK'
    'description': 'Headings'
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/typography/#typography-headings'
    'prefix': 'gov-typography-h1'
    'body': """
    {# Column size class suffixes: xlarge, large, medium, small #}
    <h1 class="heading-${1:size}">
      $2
    </h1>$3
    """
  'Heading 2':
    'leftLabel': 'GOV.UK'
    'description': 'Headings'
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/typography/#typography-headings'
    'prefix': 'gov-typography-h2'
    'body': """
    {# Column size class suffixes: xlarge, large, medium, small #}
    <h2 class="heading-${1:size}">
      $2
    </h2>$3
    """
  'Heading 3':
    'leftLabel': 'GOV.UK'
    'description': 'Headings'
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/typography/#typography-headings'
    'prefix': 'gov-typography-h3'
    'body': """
    {# Column size class suffixes: xlarge, large, medium, small #}
    <h3 class="heading-${1:size}">
      $2
    </h3>$3
    """
  'Heading 4':
    'leftLabel': 'GOV.UK'
    'description': 'Headings'
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/typography/#typography-headings'
    'prefix': 'gov-typography-h4'
    'body': """
    {# Column size class suffixes: xlarge, large, medium, small #}
    <h4 class="heading-${1:size}">
      $2
    </h4>$3
    """
  'Heading secondary':
    'leftLabel': 'GOV.UK'
    'description': 'Headings'
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/typography/'
    'prefix': 'gov-typography-heading-secondary'
    'body': """
    <span class="heading-secondary">
      $1
    </span>$2
    """
  'Lede':
    'leftLabel': 'GOV.UK'
    'description': 'Lead paragraph'
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/typography/#typography-lead-paragraph'
    'prefix': 'gov-typography-lede'
    'body': """
    <p class="lede">
      $1
    </p>$2
    """
  # 'Link':
  #   'leftLabel': 'GOV.UK'
  #   'description': 'Link'
  #   'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/typography/#typography-links'
  #   'prefix': 'gov-typography-link'
  #   'body': """
  #   <a href="${1:destination}">$2</a>
  #   """
  'Link back':
    'leftLabel': 'GOV.UK'
    'description': 'Link back'
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/typography/#typography-links'
    'prefix': 'gov-typography-link-back'
    'body': """
    <a href="${1:destination}" class="link-back">$2</a>
    """
  'Bullet list':
    'leftLabel': 'GOV.UK'
    'description': 'Lists'
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/typography/#typography-lists'
    'prefix': 'gov-typography-bullet-list'
    'body': """
    <ul class="list list-bullet">
      <li>$1</li>$2
    </ul>$3
    """
  'Numbered list':
    'leftLabel': 'GOV.UK'
    'description': 'Lists'
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/typography/#typography-lists'
    'prefix': 'gov-typography-numbered-list'
    'body': """
    <ol class="list list-number">
      <li>$1</li>$2
    </ol>$3
    """
  'Related links':
    'leftLabel': 'GOV.UK'
    'description': 'Related links'
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/typography/#typography-lists'
    'prefix': 'gov-typography-related-links'
    'body': """
    <ul class="list">
      <li>$1</li>$2
    </ul>$3
    """
  'Inset text':
    'leftLabel': 'GOV.UK'
    'description': 'Inset text'
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/typography/#typography-inset-text'
    'prefix': 'gov-typography-inset-text'
    'body': """
    <div class="panel panel-border-wide">
      <p>$1</p>$2
    </div>$3
    """
  'Warning text':
    'leftLabel': 'GOV.UK'
    'description': 'Warning text'
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/typography/#typography-warning-text'
    'prefix': 'gov-typography-warning-text'
    'body': """
    <div class="notice">
      <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
      </i>
      <strong class="bold-small">
        $1
      </strong>
    </div>$2
    """
  'Hidden text (progressive disclosure)':
    'leftLabel': 'GOV.UK'
    'description': 'Hidden text (progressive disclosure)'
    'descriptionMoreURL': 'http://govuk-elements.herokuapp.com/typography/#typography-hidden-text'
    'prefix': 'gov-typography-hidden-text'
    'body': """
    <details>
      <summary><span class="summary">$1</span></summary>
      <div class="panel panel-border-narrow">
        <p>
          $2
        </p>
      </div>
    </details>$3
    """
